@import url('https://fonts.googleapis.com/css?family=Raleway');
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}

.container{
  padding: 15px;

}
h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}
.description{
  padding:0 1em;
}


.courses, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.courses .title {
  color: #008080;
}

.course p {
  padding-left: 1em;
}

.skills .column {
  -ms-flex: 0 0 50%%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills ul {
  list-style-type: none;
}

.skills ul > li:before {
  content: "►";
  padding-right: 1em;
  color: #509e98;
}

.school, .job-title {
  text-transform: capitalize;
  padding:0 1em;


}

.education span, .job-title span {
  color: #889499;
  text-decoration: underline;
  padding:0 1em;

}
/* too bootstrap */
.masthead {
  height: 55vh;
  min-height: 350px;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
}